/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo general del body */
body {
    background-image: url('./images/fondo1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem; /* Tamaño base de fuente */
    color: #333; /* Color de texto por defecto */
}

/* Configuración del html para smooth scrolling */
html {
    scroll-behavior: smooth;
}

/* Estilos para el título principal */
.titulo {
    text-align: center;
    color: #fcfcfc;
    font-size: 2em;
    margin-top: 20px;
}

/* Estilos del menú principal */
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;    
    background-color: #333;
}

.opciones {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    gap: 20px;
}

.opciones li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    margin: 0 15px;
    margin-left: 60px;
}

.opciones a {
    font-family: "Montagu Slab", serif;
    border: 2px solid transparent;/* Borde transparente para evitar que los elementos se muevan */
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 10px;
    font-weight: bold;
    transition: color 0.3s ease;
    text-transform: uppercase;
    transition: transform 0.3s ease, border 0.3s ease;/* Suaviza las transiciones de color y borde */
}

.opciones a:hover {    
    transform: scale(1.2); /* Agranda el título un 20% */
    color: #0288d1; /* Cambia el color del título */
    border: 2px solid #0288d1;/* Hace visible el borde */
    border-radius: 5px; 
    
}

/* Menú desplegable */
.menu .opciones.show-menu {
    display: block;
}


/* Estilos para las secciones de bandas */
.banda {
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.titulo-banda{
    transition: transform 0.4s ease;
}

.titulo-banda:hover{
    transform: scale(1.5);
}

/* Colores personalizados para cada banda */
.banda.nirvana {
    background-color: #00274d; /* Azul oscuro, representando la atmósfera del grunge */
    color: #f5f5dc; /* Amarillo pálido para un buen contraste */
}

.banda.queen {
    background-color: #8b0000; /* Burdeos profundo, evocando elegancia y dramatismo */
    color: #ffd700; /* Dorado metálico para detalles */
}

.banda.beatles {
    background-color: #d3d3d3; /* Gris claro, para un aire clásico */
    color: #003366; /* Azul marino para el texto */
}

.banda.led-zeppelin {
    background-color: #000; /* Negro para un look dramático */
    color: #ffd700; /* Dorado para detalles, representando el virtuosismo */
}

.banda.pink-floyd {
    background-color: #000; /* Negro para un fondo oscuro */
    color: #ff00ff; /* Magenta para detalles, evocando la psicodelia */
}

.banda.metallica {
    background-color: #333; /* Gris oscuro o casi negro, para un look metálico */
    color: #fff; /* Blanco para el texto, destacando sobre el fondo oscuro */
}

.banda.acdc {
    background-color: #000; /* Negro para una apariencia poderosa */
    color: #ff0000; /* Rojo intenso para detalles, representando la energía de los shows */
}

.banda.rolling-stones {
    background-color: #6a0d91; /* Morado oscuro, para un toque atrevido */
    color: #fff; /* Blanco para el texto */
}

.banda.radiohead {
    background-color: #b0c4de; /* Gris pálido para un look frío y abstracto */
    color: #000; /* Negro para el texto */
}

.banda.guns-n-roses {
    background-color: #c8102e; /* Rojo intenso, para un look vibrante y rebelde */
    color: #ffd700; /* Dorado para detalles, evocando el estilo glam */
}

/* Imágenes */
img {
    max-width: 100%;
    height: auto;
}

/* Centrar las imágenes */
.imagen-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.imagen-container img {
    max-width: 300px;
    border-radius: 10px;
}

/* Estilo de los párrafos dentro de las secciones de bandas */
.banda p {
    text-align: justify;
    font-size: 1rem;
    line-height: 1.5;
    margin: 20px 0;
}

/* Estilos para el footer */
footer {
    background-color: #e2d4cc;
    padding: 10px 20px;
    color: black;
    text-align: center;
    width: 100%;
    margin-top: 30px;
}

/* Estilos para los enlaces de redes sociales */
.social-media a {
    margin: 0 10px;
    font-size: 1.2em;
    text-decoration: none;
    color: #333;
}

.social-media a:hover {
    color: #ee1413;
}

/*Estilos Formulario*/

h3 {

    font-family: "Montagu Slab", serif;
    font-size: 1.5em;
    color: #ffffff;
    margin-bottom: 20px;
    text-align: center;
}


form {
    background-color: #000000;
    border-radius: 10px;
    width: 400px;
    margin: 0 auto; 
    box-shadow: 0 2px 4px rgba(7, 54, 95, 0.274);
  }
  
  label {
    display: block;
    margin-bottom: 1px;
    color: #ffd700;
    font-family: sans-serif;
    
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  select,
  textarea {
    width: 90%;
    padding: 5px;
    margin-bottom: 1px;
    border: 1px solid #ffd700;
    border-radius: 5px;
   font-family: sans-serif;
  }
  
  
  input[type="submit"] {
    background-color:#ee1413;
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px;
  }
  
  input[type="submit"]:hover {
    background-color: #ffd700;
    transform: scale(1.1);
  }
  